@import '../../../scss/variables.scss';

.project {
  display: block;

  width: 250px;
  height: 100%;

  padding: 20px;
  border-radius: 10px;
  background: $bg-main;

  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4px);
  }
}
