@import '../../scss/variables.scss';
@import '../../scss/typography.scss';

.header {
  padding: 20px;
  background: $bg-main;
}

.logo {
  display: block;
  width: 100%;
  height: 40px;

  border-radius: 5px;
  background: $bg-accent;

  color: white;
  text-align: center;
}

.projects {
  margin: 20px 0;
}

.title {
  margin-bottom: 10px;

  @include title;

  &:hover {
    color: $text-color-accent;
  }
}

.menu li a {
  @include menu;
}
